body {
	-webkit-text-size-adjust:none;
	padding: 10px;
}

img {
	padding-top: 15px;
	padding-bottom: 15px;
}

.btn {
	font-size:110%;
}

p {
	font-size:120%;
	line-height:1.2;
}

html {
	font-size:110%;
} 

@media(min-width:60em){
	html{
		font-size: 90%
	}
}

img {
    max-width: 100%;
    max-height: 100%;
}
